// Variables

$bg-color: #FAFCFF;
$link-bg-color: #F0F5FF;
$primary-btn-bg-color: #2E71FF;
$sec-btn-bg-color: #D3E7FF;
$border-color: #DEEBFE;
$text-color: #07172F;
$sec-text-color: #718CAF;
$success-color: #17EC9D;
$success-bg-color: rgba(27, 243, 164, 0.2);
$error-color: #FF1D38;
$error-bg-color: rgba(255, 29, 56, 0.17);
